body 
{
   background-image: url();
   background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../css/Background1.png); 
   background-size: cover;
  margin: 0px;
  padding: 0;
}
 
/* home style */



#visionStatement{
   margin: 20px;
   text-align: center;
   color: white;
   font-size: 30px;
}

#text{
   font-size: 30px;
   text-decoration: none;
   color: white;
   text-align: center;
   display: inline-block;
   margin-bottom: 50px;
}

#textSection {
   text-align: center;
}

#button{
   font-size: 30px;
   text-decoration: none;
   color: white;
   text-align: center;
   border: 2px solid black;
   display: inline-block;
   background-color: #3b3b3b95;
   margin-bottom: 50px;
   border-radius: 40px;
   width: 250px;
}

#buttonSection {
   text-align: center;
}

#more{
   font-size: 30px;
   text-decoration: none;
   color: white;
   text-align: center;
   border: 2px solid black;
   display: inline-block;
   background-color: #3b3b3b95;
   border-radius: 40px;
   width: 250px;
}

#moreSection {
   text-align: center;
}

#logoId{
   width: 500px;
   height: 150px;
   margin-bottom: 80px;
}

#logoSection{
   margin-top: 50px;
   text-align: center;
}

/* register page */

.regContainerMain{
    width: 25%;
    box-shadow: 10px 10px 10px 2px black;
    background: white;
    margin: auto;
    margin-top: 10%;
    height: 450px;
    position: relative;
    font-size: large;
    border: solid 3px black;
  }

  .Title
  {
    background-color: #25238e;
    color: white;
    height: 25px;
    padding:10px;
    margin-top: 0;
    text-align: center;
  }
 .registrationForm
 {
    width: max-content;
    margin: 0 auto;
    padding: 35px 0;
 }

 #submit
 {
    margin: 0 20%;
    color: white;
    background-color: #25238e;
    padding: 5px 20px;

 }
 form :focus
 {
    outline: none !important;
    border: solid 2.5px #25238e;  
    padding: 5px;
 }

 input
 {
    font-size:large;
 }

 /* login sheet style */

 .logContainerMain{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);


   width: 25%;
   margin-top: 50px;
   height: 450px;
   font-size: large;
   background-color: #3b3b3b90;
   border-radius: 40px;
   align-items: center;
   justify-content: center;
 }

#userImg
{
   margin-top:20px;
   height: 20px;
   width:35px;
}

#passImg
{
   height: 20px;
   width:20px;
   margin-right:6px;
   margin-left:9px;
}

 #title
 {
    color: white;
    height: 25px;
    padding:10px;
    margin-top: 0;
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
    margin-left: 25px;
    
 }

 .loginForm
 {
   text-align: center;
    width: max-content;
    margin: 0 auto;
    padding: 35px 0;
 }

 #login, #forgotPass{
   color: white;
   background-color: black;
   padding: 5px 20px;
   display: block;
   width: 230px;
   margin-left:30px;
   border-radius: 40px;
   border: none;
   outline: none; 
 }

 #signUp{
   border: none;
   outline: none; 
   border-radius: 40px;
 }

 .top
 {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 30px;
   
   height: 60px;
   background-color: #3b3b3b90;
 }

 #logoCbr
 {
   width: 270px;
   height: 95px;
 }

.logo
{
   left: -20px;
}

#signUp
{
   margin: 0 20%;
   margin-right: 80px;
   color: white;
   background-color: black;
   padding: 5px 20px;
}

 /* Student View */


#topBar{
   background-color: #3b3b3b90;
   padding-top: 40px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px;
   border: 2px solid black;
   margin-bottom: 50px;
   
}

#topBarDiv{
   display: flex;
   text-align: center;
   align-items: center;
}

#studentImg{
   width: 66px;
   height: 50px;
   margin-right: 10px;
}

#logoIdStudent{
   width: 300px;
   height: 100px;
}

#studentTite{
   color: white;
   font-size: 30px;
   
   text-align: center;
}

#backButtonImg{
   width: 60px;
   height: 60px;
   margin-right: 100px;
} 

.withButton{
   margin-left: 120px;
   display: flex;
   justify-content: center;
   text-align: center;
   align-items: center;
}

#calculateDiv{
   display: flex;
   justify-content: center;
   margin-bottom: 100px;
}

#gradeCalculator{
   margin-left: 300px;
   margin-right: 300px;
   border: 2px solid black;
   /*old grey colour background-color: #80808090; */
   background-color: #3b3b3b90;
}

#chooseYourCourse{
   color: white;
   text-align: center;
   margin-bottom: 40px;
   font-size: 20px;
}

.moduleLevel{
   text-align: center;
   font-size: 20px;
   color: white;
}



.moduleClasses
{  
   text-align: center;
   margin-bottom: 50px;
}

.labels{
   margin-left: 250px;
   display: flex;
}

.creditText{
   margin-left: 100px;
   color: white;
}
.testText{
   margin-left: 80px;
   color: white;
}
.quizText{
   margin-left: 60px;
   color: white;
}
.courseworkText{
   margin-left: 40px;
   color: white;
}

.inRow{
   display: flex;
   text-align: center;
   align-items: center;
   justify-content: center;
}

.creditValue{
   margin-left: 50px;
   color: white;
}

.testInput{
   width: 50px;
   margin: 20px;
   margin-left: 100px;
}
.quizInput{
   width: 50px;
   margin: 10px;
}
.courseworkInput{
   width: 50px;
   margin: 10px;
}


#bottomSection{
   background-color: #3b3b3b90;
   padding-top: 50px;
   margin-left: 300px;
   margin-right: 300px;
   border: 2px solid black;
   display: flex;
   justify-content: center;
   color: white;
   padding-bottom: 50px;
   margin-bottom: 50px;
}

.bottomText{
   margin: 20px;
}