body 
{
   background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../css/Background1.png); 
   background-size: cover;
  margin: 0px;
  padding: 0;
}
 
/* home style */



#visionStatement{
   margin: 0 20px;
   margin-bottom: 60px;
   text-align: center;
   color: white;
   font-family: sans-serif;
   font-size: 30px;
}

#visionStatementText
{
   margin-top: 0;
}

#text{
   font-size: 30px;
   text-decoration: none;
   color: white;
   text-align: center;
   display: inline-block;
   margin-bottom: 50px;
}

#textSection {
   text-align: center;
}

#button{
   font-size: 25px;
   text-decoration: none;
   color: white;
   text-align: center;
   border: 2px solid lightgray;
   display: inline-block;
   background-color: #3b3b3b95;
   margin-bottom: 50px;
   border-radius: 40px;
   width: 250px;
}

#buttonSection {
   text-align: center;
}

#more{
   font-size: 25px;
   text-decoration: none;
   color: white;
   text-align: center;
   border: 2px solid lightgray;
   display: inline-block;
   background-color: #3b3b3b95;
   border-radius: 40px;
   width: 250px;
}

#moreSection {
   text-align: center;
}

#logoId{
   width: 400px;
   height: 400px;
}

#logoSection{
   text-align: center;
}

/* findOutMore page */

#moreSection{
   text-align: center;
   color: white;
   margin-left: 100px;
   margin-right: 100px;
}

#moreTitleText{
   margin-top: 50px;
   font-size: 50px;
}

#moreMotivationalText{
   margin-top: 50px;
   font-size: 30px;
}

#moreYappingText{
   margin-top: 50px;
   font-size: 20px;
}




#picSection{
   text-align: center;
   
}

#pic1{
   margin: 20px;
   width: 300px;
   height: 200px;
}
#pic2{
   margin: 20px;
   width: 300px;
   height: 200px;
}
#pic3{
   margin: 20px;
   width: 300px;
   height: 200px;
}

#moreButtonSection{
   text-align: center;
   margin-top: 50px;
}

#moreSignUp{
   color: white;
   border: 2px solid lightgray;
   background-color: #3b3b3b95;
   border-radius: 40px;
   padding: 5px 20px;
}

#moreRegisterButton{
   color: white;
   background-color: black;
   padding: 5px 20px;
   border-radius: 40px;
   background-color: #3b3b3b95;
   border: 2px solid lightgray;
}

#moreSignUp:hover{
   cursor: pointer;
}

/* register page */

.regContainerMain{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   
   
   width: 25%;
   margin-top: 50px;
   height:fit-content;
   font-size: large;
   background-color: #3b3b3b90;
   border-radius: 40px;
   align-items: center;
   justify-content: center;
 }
 
 .Title
 {
   color: white;
    height: 25px;
    padding:10px 0;
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
   }
   .registrationForm
   {
    display: flex;
    flex-wrap: wrap;
    width: max-content;
    margin: 0 auto;
    padding: 35px 0;
 }

 #fnameInput, #lnameInput, #emailInput, #passwordInput, #confirmPasswordInput, #confirmPasswordCheck, #emailInputCheck
 {
   display: none;
 }

 #submit
 {
   color: white;
   background-color: black;
   padding: 5px 20px;
   display: block;
   width: 230px;
   border-radius: 40px;
   background-color: #3b3b3b95;
   border: 2px solid lightgray;


 }

 #submit:hover, #login:hover, #forgotPass:hover
 {
   cursor: pointer;
   opacity: 0.60;
 }

 #regForm :focus
 {
    outline: none !important;
    border: solid 2.5px black;  
    padding: 5px;
 }

 #password_img
 {
   height: 20px;
   width:20px;
   display: inline;
   margin-left: -25px;
 
 }

 #passwordConfirm_img
 {
   height: 20px;
   width:20px;
   display: inline;
   margin-left: -25px;
 
 }

 input
 {
    font-size:large;
 }

 /* login sheet style */

 .logContainerMain{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);


   width: 25%;
   margin-top: 50px;
   height: 450px;
   font-size: large;
   background-color: #3b3b3b90;
   border-radius: 40px;
   align-items: center;
   justify-content: center;
 }

#userImg
{
   margin-top:20px;
   height: 20px;
   width:35px;
}

#passImg
{
   height: 20px;
   width:20px;
   margin-right:6px;
   margin-left:9px;
}

 #title
 {
    color: white;
    height: 25px;
    padding:10px;
    margin-top: 0;
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
    margin-left: 25px;
    
 }

 .loginForm
 {
   text-align: center;
    width: max-content;
    margin: 0 auto;
    padding: 35px 0;
 }

 .loginForm a
 {
   text-decoration: none;;
 }

 #login, #forgotPass{
   color: white;
   background-color: #3b3b3b95;
   padding: 5px 20px;
   display: block;
   width: 230px;
   margin-left:30px;
   border-radius: 40px;
   border: 2px solid lightgray;
   
 }

 .top
 {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 30px;
   
   height: 60px;
   background-color: #3b3b3b90;
 }

 #logoCbr
 {
   width: 270px;
   height: 270px;
 }

.logo
{
   left: -20px;
}

#signUp
{
   margin: 0 20%;
   margin-right: 80px;
   color: white;
   border: 2px solid lightgray;
   background-color: #3b3b3b95;
   border-radius: 40px;
   padding: 5px 20px;
}

 /* Student View */


#topBar{
   background-color: #3b3b3b90;
   padding-top: 40px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px;
   margin-bottom: 50px;
   height: 100px;
   
}

#topBarDiv{
   display: flex;
   text-align: center;
   align-items: center;
}

#studentImg{
   width: 66px;
   height: 50px;
   margin-right: 10px;
}

#logoIdStudent{
   width: 275px;
   height: 275px;
}

#studentTite{
   color: white;
   font-size: 30px;
   
   text-align: center;
}

#backButtonImg{
   width: 60px;
   height: 60px;
   margin-right: 100px;
} 

.withButton{
   margin-left: 120px;
   display: flex;
   justify-content: center;
   text-align: center;
   align-items: center;
}

#calculateDiv{
   display: flex;
   justify-content: center;
   margin-bottom: 50px;
}

#calculate{
   margin-left: 160px;
}

#graph{
   margin-left: 80px;
}

#gradeCalculator{
   margin-left: 300px;
   margin-right: 300px;
   border: 2px solid black;
   /*old grey colour background-color: #80808090; */
   background-color: #3b3b3b90;
   margin-bottom: 50px;
}


#chooseYourCourse{
   color: white;
   text-align: center;
   margin-bottom: 40px;
   font-size: 20px;
}

.moduleLevel{
   text-align: center;
   font-size: 20px;
   color: white;
}



.moduleClasses
{  
   text-align: center;
   margin-bottom: 50px;
}

.labels{
   margin-left: 250px;
   display: flex;
}

.creditText{
   margin-left: 100px;
   color: white;
}
.testText{
   margin-left: 80px;
   color: white;
}
.quizText{
   margin-left: 60px;
   color: white;
}
.courseworkText{
   margin-left: 40px;
   color: white;
}

.inRow{
   display: flex;
   text-align: center;
   align-items: center;
   justify-content: center;
}

.creditValue{
   margin-left: 50px;
   color: white;
}

.testInput{
   width: 50px;
   margin: 20px;
   margin-left: 100px;
}
.quizInput{
   width: 50px;
   margin: 10px;
}
.courseworkInput{
   width: 50px;
   margin: 10px;
}



.bottomText{
   margin: 20px;
}


 /* Student View */

 #listSection{
   
   display: flex;
   text-align: center;
   justify-content: space-between;
   
   
 }

#studentListDiv{
   width: 300px;
   background-color: #3b3b3b90;
   color: white;
   margin-left: 400px;
   border-radius: 40px;
}

#studentsListTitleText{
   font-size: 30px;
}

#moduleListDiv{
   width: 400px;
   color: white;
   background-color: #3b3b3b90;
   margin-right: 250px;
   border-radius: 40px;
}

#moduleListTiteText{
   font-size: 30px;
}

#resultSection{
   text-align: center;
   color: white;
   margin-bottom: 100px;
   font-size: 20px;

}

 /* Analysis page */

#bottomSection{
   margin-top: 500px;
   background-color: #3b3b3b90;
   padding-top: 50px;
   margin-left: 300px;
   margin-right: 300px;
   border: 2px solid black;
   display: flex;
   justify-content: center;
   color: white;
   padding-bottom: 50px;
   margin-bottom: 50px;
}

 /* Reset password page */

#resetPasswordSection{
   margin-top: 50px;
   text-align: center;
   color: white;
   border: 2px solid black;
   width: 600px;
   height: 500px;
   background-color: #3b3b3b90;
   margin-left: auto;
   margin-right: auto;


}
#forgotPassSubmit{
   color: white;
   background-color: #3b3b3b95;
   padding: 5px 20px;
   border-radius: 40px;
   border: 2px solid lightgray;
}

#resetPassText{
   margin-top: 0px;
   font-size: 40px;
   background-color: #00000080;
   padding: 50px;

}

#resetYapText{
   margin-top: 100px;
}
