body 
{
  background-color: grey;
}
 
/* home style */

#loginButton{
   width: 120px;
   background: white;
   margin: auto;
   margin-top: 40px;
   height: 50px;
   border: solid 3px black;
   background-color: #25238e;
   text-align: center;
  
}

#loginText{
   font-size: 40px;
   text-decoration: none;
   color: white;
   text-align: center;
}

#registerButton{
   width: 150px;
   background: white;
   margin: auto;
   margin-top: 40px;
   height: 50px;
   border: solid 3px black;
   background-color: #25238e;
   text-align: center;
}

#registerText{
   font-size: 40px;
   text-decoration: none;
   color: white;
   text-align: center;
}

#buttonsContainer{
   margin: auto;
   width: 300px;
   height: 250px;
   box-shadow: 10px 10px 10px 2px black;
   border: solid 3px black;
   background-color: white;
   text-align: center;
}

#logoId{
   width: 500px;
   height: 150px;
   margin-bottom: 80px;
}

#logoSection{
   text-align: center;
}

/* login */

.regContainerMain{
    width: 25%;
    box-shadow: 10px 10px 10px 2px black;
    background: white;
    margin: auto;
    margin-top: 10%;
    height: 450px;
    position: relative;
    font-size: large;
    border: solid 3px black;
  }

  .Title
  {
    background-color: #25238e;
    color: white;
    height: 25px;
    padding:10px;
    margin-top: 0;
    text-align: center;
  }
 .registrationForm
 {
    width: max-content;
    margin: 0 auto;
    padding: 35px 0;
 }

 #submit
 {
    margin: 0 20%;
    color: white;
    background-color: #25238e;
    padding: 5px 20px;

 }
 form :focus
 {
    outline: none !important;
    border: solid 2.5px #25238e;  
    padding: 5px;
 }

 input
 {
    font-size:large;
 }

 /* login sheet style */

 .logContainerMain{
   width: 25%;
   box-shadow: 10px 10px 10px 2px black;
   background: white;
   margin: auto;
   margin-top: 10%;
   height: 450px;
   position: relative;
   font-size: large;
   border: solid 3px black;
 }

 .loginForm
 {
    width: max-content;
    margin: 0 auto;
    padding: 35px 0;
 }

