<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Log In</title>
        <link rel="stylesheet" type="text/css" href="css/stylesheet.css">
        <link rel="icon" type="image/x-icon" href="../view/css/android-chrome-192x192.png">
    </head>
    <body>
        <div class = "top">
            <div class = "logo">
                <img src="css/cbrrand_logo.png" id="logoCbr">  </img>
            </div>
            <a href="homePage_view.html">
                <img  src="css/backbutton.png" id="backButtonImg">
            </a>
        </div>

        <section id="moreSection">
            <p id="moreTitleText"> Achieve your dreams </p>

            <p id="moreMotivationalText"> Reflect on your journey and unlock your potential for greatness with C_BRRAND </p>

            <p id="moreYappingText"> As university days start to pass, it's time to set yourself up for success. Get focused and learn smarter with C_BRRAND - we can help you reach your goals. Try our free calculator to get the data you need, build a plan around your commitments, and use our features to visualize progress and stay motivated. </p>
        </section>

        <section id="picSection">
            <img src="css/moreViewPic2.jpg" id="pic2">  </img>
            <img src="css/moreViewPic1.jpeg" id="pic1">  </img>
            <img src="css/moreViewPic3.jpg" id="pic3">  </img>
        </section>

        <section id="moreButtonSection">
            <div class = "moreRegisterButton">
                <!-- <form>  Temporarily stopped form and added anchor link to get the log in working -->
                     <a href="register_view.html">
                     <input type = "submit" id = "moreSignUp" value = "Sign Up" name = "signUp">
                     </a>
                 <!-- </form>  -->
             </div>
        </section>
        
        
    </body>
</html>