<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Log In</title>
        <link rel="stylesheet" type="text/css" href="css/stylesheet.css">
        <link rel="icon" type="image/x-icon" href="../view/css/android-chrome-192x192.png">
    </head>
    <body>
        <div class = "top">
            <div class = "logo">
                <img src="css/cbrrand_logo.png" id="logoCbr">  </img>
            </div>
            <a href="homePage_view.html">
                <img  src="css/backbutton.png" id="backButtonImg">
            </a>
        </div>

        <section id="resetPasswordSection">
            <p id="resetPassText"> Reset your password </p>

            <p id="resetYapText"> Enter your email address below and we'll send you a link with instructions. </p>

            <input type="text" id="fname" name= "fname" placeholder="Email address..." autofocus><br id ="break0"><br>
            <a href="login_view.html">
                <input type = "submit" id = "forgotPassSubmit" value = "Submit" name = "Submit"><br>
            </a>
        </section>
        
    </body>
</html>