<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Home</title>
        <link rel="stylesheet" type="text/css" href="css/stylesheet.css">
    </head>

    <body>
        <section id="visionStatement"> 
            <p> Vision statement goes here </p>
        </section>

        <section id="logoSection"> 
            <img src="css/cbrrand_logo.png" id="logoId">  </img>
        </section>

        <section id="textSection">
                <p id="text">Ready to transform your grades? Let our grade calculator show you the way!</p>
        </section>

        <section id="buttonSection">
            <a href="login_view.html" id="button"> Let's get started... </a>
        </section>

        <section id="moreSection">
            <a href="" id="more"> Find out more... </a>
        </section>
    </body>
</html>