<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Home</title>
        <link rel="stylesheet" type="text/css" href="css/stylesheet.css">
    </head>

    <body>
        <section id="logoSection"> 
            <img src="css/cbrrand_logo.png" id="logoId">  </img>
        </section>

        <div id="buttonsContainer">
            <div id="loginButton">
                <a href="login_view.html" id="loginText"> Log in </a>
            </div>
    
            <div id="registerButton">
                <a href="register_view.html" id="registerText"> Register </a>
            </div>
        </div>
    </body>
</html>