<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Log In</title>
        <link rel="stylesheet" type="text/css" href="css/stylesheet.css">
    </head>
    <body>
        <div class = "top">
            <div class = "logo">
                <img src="css/cbrrand_logo.png" id="logoId">  </img>
            </div>
            <div class = "submit">
                <form method = "post" action = "">
                    <input type = "submit" id = "signUp" value = "Sign Up" name = "signUp">
                </form>
            </div>
        </div>
        <div class="logContainerMain">
            <div class="logContainerTitle">
              <h3 id = "title">Log In</h3>
            </div>

            <div class = "loginForm">
                <form method = "post" action = "">
                    <label for = "username">Username</label><br>
                    <input type = "text" id = "username" name = "username"><br><br>
                    <label for = "password"> Password</label><br>
                    <input type = "text" id = "password" name = "password"><br><br>
                    <input type = "submit" id = "login" value = "Log In" name = "login"><br><br>
                    <input type = "submit" id = "forgotPass" value = "Forgot your password?" name = "forgotPass"><br><br>
                </form>
            </div>
        </div>
    </body>
</html>