<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Log In</title>
        <link rel="stylesheet" type="text/css" href="css/stylesheet.css">
        <link rel="icon" type="image/x-icon" href="../view/css/android-chrome-192x192.png">
        <script src="../controller/JavaScript/PE2_calcLogic.js"></script>
    </head>
    <body>
        <div class = "top">
            <div class = "logo">
                <a href="homePage_view.html">
                    <img src="css/cbrrand_logo.png" id="logoCbr">  </img>
                </a>
            </div>
            <div class = "submit">
               <!-- <form>  Temporarily stopped form and added anchor link to get the log in working -->
                    <a href="register_view.html">
                    <input type = "submit" id = "signUp" value = "Sign Up" name = "signUp">
                    </a>
                <!-- </form>  -->
            </div>
        </div>
        <div class="logContainerMain">
            <div id="logContainerTitle">
              <h3 id = "title">Log In</h3>
            </div>

            <div class = "loginForm">

           <!-- <form>  Temporarily stopped form and added anchor link to get the log in working -->
                    <label for = "username"><img src="css/student img.png" id="userImg"></img></label>
                    <input type = "text" id = "username" name = "username"><br><br>
                    <label for = "password"><img src="css/passwordIcon.png" id="passImg"></img></label>
                    <input type = "password" id = "password" name = "password"><br><br><br><br>

                    <a href="student_view.html">
                    <input type = "submit" id = "login" value = "Log In" name = "login"><br>
                    </a>

                    <a href="forgotPassword_view.html"><input type = "submit" id = "forgotPass" value = "Forgot your password?" name = "forgotPass"><br><br></a>

           <!-- </form>--> 

            </div>
        </div>
    </body>
</html>