<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Register</title>
  <link rel="stylesheet" type="text/css" href="css/stylesheet.css">
  <link rel="icon" type="image/x-icon" href="../view/css/android-chrome-192x192.png">
  <script src="../controller/JavaScript/PE2_calcLogic.js"></script>
</head>

<body>
  <div class = "top">
    <div class = "logo">
        <a href="homePage_view.html">
          <img src="css/cbrrand_logo.png" id="logoCbr">  </img>
        </a>
    </div>
    <div class="topBarBackButton">
      <a href="../view/login_view.html"><img src="../view/css/backbutton.png" id = "backButtonImg"></a>
    </div>
    <div class="regContainerMain">
        <div class="regContainerTitle">
          <h3 class="Title">Register</h3>
        </div>
        <div class="registrationForm">
            <form id ="regForm">
                <input type="text" id="fname" name= "fname" placeholder="Enter your name" autofocus><br id ="break0"><br>
                <p style="color: red" id = "fnameInput">Please enter your first name</p>
                <input type="text" id= "lname" name="lname" placeholder="Enter your surname"><br id="break1"><br>
                <p style="color: red" id ="lnameInput">Please enter your surname</p>
                <input type="text" id="email" name="email" placeholder="Enter your email"><br id="break2"><br>
                <p style="color: red" id= "emailInput">Please enter your email</p>
                <p style="color: red" id= "emailInputCheck">Invalid Email</p>
                <label for = "password"><img src = "../view/css/security.png"  id="password_img"></img></label>
                <input type="password" id= "password" name="password" placeholder="Password"><br id="break3"><br>
                <p style="color: red" id= "passwordInput">Please enter your password</p>
                <label for = "passwordConfirm"><img src = "../view/css/security.png"  id="passwordConfirm_img"></img></label>
                <input type="password" id= "passwordConfirm" name="passwordConfirm" placeholder="Confirm Password"><br id="break4"><br>
                <p style="color: red" id= "confirmPasswordInput">Please confirm your password</p>
                <p style="color: red" id= "confirmPasswordCheck">Your passwords do not match</p>
                <input type="button" id= "submit" value="Register">
            </form> 
        </div>
      </div>
      <script src="../controller/JavaScript/PE2_Calc_JavaScript.js"></script>
</body>

</html>
