<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="css/stylesheet.css">
        <title>Grade calculation</title>
    </head>

    <body id="studentViewBody">
        
        <section id="topBar">
            <img src="css/cbrrand_logo.png" id="logoIdStudent">  </img>

            <div id="topBarDiv">
                <img src="css/student img.png" id="studentImg"> </img>
                <p id="studentTite"> Student </p>
            </div>

            <img  src="css/backbutton.png" id="backButtonImg"></img>
        </section>


        <section id="gradeCalculator">
            <p id="chooseYourCourse"> Choose your course </p>

            <div class="withButton">
                <div class="moduleClasses">
                    <p class="moduleLevel"> Level 4 </p>
                    <div class="labels">
                        <p class="creditText">Credit Value</p>
                        <p class="testText">Test</p>
                        <p class="quizText">Quiz</p>
                        <p class="courseworkText">Coursework</p>
                    </div>
                    <form action="">
                        <div class="inRow">
                            <select class="chooseYourModule1">
                                <option value="To be Calculated"> Choose your Module </option>
                            </select>
                            <p class="creditValue">image</p>
                            <input class="testInput" type="text">
                            <input class="quizInput" type="text">
                            <input class="courseworkInput" type="text">
                        </div>
                        <div class="inRow">
                            <select class="chooseYourModule1">
                                <option value="To be Calculated"> Choose your Module </option>
                            </select>
                            <p class="creditValue">image</p>
                            <input class="testInput" type="text">
                            <input class="quizInput" type="text">
                            <input class="courseworkInput" type="text">
                        </div>
                        <div class="inRow">
                            <select class="chooseYourModule1"> 
                                <option value="To be Calculated"> Choose your Module </option>
                            </select>
                            <p class="creditValue">image</p>
                            <input class="testInput" type="text">
                            <input class="quizInput" type="text">
                            <input class="courseworkInput" type="text">
                        </div>
                        <div class="inRow">
                            <select class="chooseYourModule1"> 
                                <option value="To be Calculated"> Choose your Module </option>
                            </select>
                            <p class="creditValue">image</p>
                            <input class="testInput" type="text">
                            <input class="quizInput" type="text">
                            <input class="courseworkInput" type="text">
                        </div>
                    </form>
                </div>

                <div>
                    <button class="calculateButton"> Calculate </button>
                </div>
            </div>


            <div class="withButton">
                <div class="moduleClasses">
                    <p class="moduleLevel"> Level 5 </p>
                    <div class="labels">
                        <p class="creditText">Credit Value</p>
                        <p class="testText">Test</p>
                        <p class="quizText">Quiz</p>
                        <p class="courseworkText">Coursework</p>
                    </div>
                    <form action="">
                        <div class="inRow">
                            <select class="chooseYourModule1">
                                <option value="To be Calculated"> Choose your Module </option>
                            </select>
                            <p class="creditValue">image</p>
                            <input class="testInput" type="text">
                            <input class="quizInput" type="text">
                            <input class="courseworkInput" type="text">
                        </div>
                        <div class="inRow">
                            <select class="chooseYourModule1">
                                <option value="To be Calculated"> Choose your Module </option>
                            </select>
                            <p class="creditValue">image</p>
                            <input class="testInput" type="text">
                            <input class="quizInput" type="text">
                            <input class="courseworkInput" type="text">
                        </div>
                        <div class="inRow">
                            <select class="chooseYourModule1"> 
                                <option value="To be Calculated"> Choose your Module </option>
                            </select>
                            <p class="creditValue">image</p>
                            <input class="testInput" type="text">
                            <input class="quizInput" type="text">
                            <input class="courseworkInput" type="text">
                        </div>
                        <div class="inRow">
                            <select class="chooseYourModule1"> 
                                <option value="To be Calculated"> Choose your Module </option>
                            </select>
                            <p class="creditValue">image</p>
                            <input class="testInput" type="text">
                            <input class="quizInput" type="text">
                            <input class="courseworkInput" type="text">
                        </div>
                    </form>
                </div>

                <div>
                    <button class="calculateButton"> Calculate </button>
                </div>

            </div>



            <div class="withButton">
                <div class="moduleClasses">
                    <p class="moduleLevel"> Level 6 </p>
                    <div class="labels">
                        <p class="creditText">Credit Value</p>
                        <p class="testText">Test</p>
                        <p class="quizText">Quiz</p>
                        <p class="courseworkText">Coursework</p>
                    </div>
                    <form action="">
                        <div class="inRow">
                            <select class="chooseYourModule1">
                                <option value="To be Calculated"> Choose your Module </option>
                            </select>
                            <p class="creditValue">image</p>
                            <input class="testInput" type="text">
                            <input class="quizInput" type="text">
                            <input class="courseworkInput" type="text">
                        </div>
                        <div class="inRow">
                            <select class="chooseYourModule1">
                                <option value="To be Calculated"> Choose your Module </option>
                            </select>
                            <p class="creditValue">image</p>
                            <input class="testInput" type="text">
                            <input class="quizInput" type="text">
                            <input class="courseworkInput" type="text">
                        </div>
                        <div class="inRow">
                            <select class="chooseYourModule1"> 
                                <option value="To be Calculated"> Choose your Module </option>
                            </select>
                            <p class="creditValue">image</p>
                            <input class="testInput" type="text">
                            <input class="quizInput" type="text">
                            <input class="courseworkInput" type="text">
                        </div>
                        <div class="inRow">
                            <select class="chooseYourModule1"> 
                                <option value="To be Calculated"> Choose your Module </option>
                            </select>
                            <p class="creditValue">image</p>
                            <input class="testInput" type="text">
                            <input class="quizInput" type="text">
                            <input class="courseworkInput" type="text">
                        </div>
                    </form>
                </div>

                <div>
                    <button class="calculateButton"> Calculate </button>
                </div>

            </div>
        </section>
        
        <section id="bottomSection">
                <p class="bottomText"> Include final year planning </p>
                <p class="bottomText"> First class </p>
                <p class="bottomText"> Upper Second class </p>
                <p class="bottomText"> Lower Second class </p>
                <p class="bottomText"> Pass </p>
        </section>
    </body>
</html>