<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="css/stylesheet.css">
        <link rel="icon" type="image/x-icon" href="../view/css/android-chrome-192x192.png">

        <title>Grade calculation</title>
    </head>

    <body id="studentViewBody">
        
        <section id="topBar">
            <img src="css/cbrrand_logo.png" id="logoIdStudent"> 

            <div id="topBarDiv">
                <img src="css/student img.png" id="studentImg"> 
                <p id="studentTite"> Student </p>
            </div>

            <a href="homePage_view.html">
            <img  src="css/backbutton.png" id="backButtonImg">
            </a>
        </section>  

        <form action="">
            <section id="gradeCalculator">
                <p id="chooseYourCourse"> Choose your course </p>
                <div class="moduleClasses">
                    <p class="moduleLevel"> Level 5 </p>
                    <div class="labels">
                        <p class="creditText">Credit Value</p>
                        <p class="testText">Test</p>
                        <p class="quizText">Quiz</p>
                        <p class="courseworkText">Coursework</p>
                    </div>
                    <div class="inRow">
                        <select class="chooseYourModule1">
                            <option value="To be Calculated"> Choose your Module </option>
                        </select>
                        <p class="creditValue">30</p>
                        <input class="testInput" type="text">
                        <input class="quizInput" type="text">
                        <input class="courseworkInput" type="text">
                    </div>
                    <div class="inRow">
                        <select class="chooseYourModule1">
                            <option value="To be Calculated"> Choose your Module </option>
                        </select>
                        <p class="creditValue">30</p>
                        <input class="testInput" type="text">
                        <input class="quizInput" type="text">
                        <input class="courseworkInput" type="text">
                    </div>
                    <div class="inRow">
                        <select class="chooseYourModule1"> 
                            <option value="To be Calculated"> Choose your Module </option>
                        </select>
                        <p class="creditValue">30</p>
                        <input class="testInput" type="text">
                        <input class="quizInput" type="text">
                        <input class="courseworkInput" type="text">
                    </div>
                    <div class="inRow">
                        <select class="chooseYourModule1"> 
                            <option value="To be Calculated"> Choose your Module </option>
                        </select>
                        <p class="creditValue">30</p>
                        <input class="testInput" type="text">
                        <input class="quizInput" type="text">
                        <input class="courseworkInput" type="text">
                    </div>
                </div>

                <div class="moduleClasses">
                    <p class="moduleLevel"> Level 6 </p>
                    <div class="labels">
                        <p class="creditText">Credit Value</p>
                        <p class="testText">Test</p>
                        <p class="quizText">Quiz</p>
                        <p class="courseworkText">Coursework</p>
                    </div>
                    <div class="inRow">
                        <select class="chooseYourModule1">
                            <option value="To be Calculated"> Choose your Module </option>
                        </select>
                        <p class="creditValue">30</p>
                        <input class="testInput" type="text">
                        <input class="quizInput" type="text">
                        <input class="courseworkInput" type="text">
                    </div>
                    <div class="inRow">
                        <select class="chooseYourModule1">
                            <option value="To be Calculated"> Choose your Module </option>
                        </select>
                        <p class="creditValue">30</p>
                        <input class="testInput" type="text">
                        <input class="quizInput" type="text">
                        <input class="courseworkInput" type="text">
                    </div>
                    <div class="inRow">
                        <select class="chooseYourModule1"> 
                            <option value="To be Calculated"> Choose your Module </option>
                        </select>
                        <p class="creditValue">30</p>
                        <input class="testInput" type="text">
                        <input class="quizInput" type="text">
                        <input class="courseworkInput" type="text">
                    </div>
                    <div class="inRow">
                        <select class="chooseYourModule1"> 
                            <option value="To be Calculated"> Choose your Module </option>
                        </select>
                        <p class="creditValue">30</p>
                        <input class="testInput" type="text">
                        <input class="quizInput" type="text">
                        <input class="courseworkInput" type="text">
                    </div>
                </div>


                <div id="calculateDiv">
                    <button class="calculateButton"> Calculate </button>
                </div>
            </section>
            
            <section id="bottomSection">
                <p class="bottomText"><input type="checkbox" name="final_year_planning"> Include final year planning</p>
                <p class="bottomText"><input type="radio" name="class_type" value="first_class"> First class</p>
                <p class="bottomText"><input type="radio" name="class_type" value="upper_second_class"> Upper Second class</p>
                <p class="bottomText"><input type="radio" name="class_type" value="lower_second_class"> Lower Second class</p>
                <p class="bottomText"><input type="radio" name="class_type" value="pass"> Pass</p>                
            </section>
        </form>
    </body>
</html>