<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="css/stylesheet.css">
        <link rel="icon" type="image/x-icon" href="../view/css/android-chrome-192x192.png">
        <script src="../controller/JavaScript/PE2_calcLogic.js"></script>
        <title>Grade calculation</title>
    </head>

    <body id="studentViewBody">
        
        <section id="topBar">
            <a href="homePage_view.html">
                <img src="css/cbrrand_logo.png" id="logoIdStudent"> 
            </a>

            <div id="topBarDiv">
                <img src="css/student img.png" id="studentImg"> 
                <p id="studentTite"> Student </p>
            </div>

            <a href="login_view.html">
            <img  src="css/backbutton.png" id="backButtonImg">
            </a>
        </section>  

        <!--<form action="">-->
            <section id="gradeCalculator">
                <p id="chooseYourCourse"> Choose your course </p>
                <div class="moduleClasses">
                    <p class="moduleLevel"> Level 5 </p>
                    <div class="labels">
                        <p class="creditText">Credit Value</p>
                        <p class="testText">Test</p>
                        <p class="quizText">Quiz</p>
                        <p class="courseworkText">Coursework</p>
                    </div>
                    <div class="inRow">
                        <select class="chooseYourModule1">
                            <option value="To be Calculated"> Choose your Module </option>
                            <option value="Professional Enviroments 2"> Professional Enviroments 2 </option>
                            <option value="Computing Systems"> Computing Systems </option>
                            <option value="Programming 2"> Programming 2 </option>
                            <option value="Database Driven Dev."> Database Driven Dev. </option>
                        </select>
                        <p class="creditValue">30</p>
                        <input class="testInput" id = testInputL5M1 type="text">
                        <input class="quizInput" id = quizInputL5M1 type="text">
                        <input class="courseworkInput" id = courseworkInputL5M1 type="text">
                    </div>
                    <div class="inRow">
                        <select class="chooseYourModule1">
                            <option value="To be Calculated"> Choose your Module </option>
                            <option value="Professional Enviroments 2"> Professional Enviroments 2 </option>
                            <option value="Computing Systems"> Computing Systems </option>
                            <option value="Programming 2"> Programming 2 </option>
                            <option value="Database Driven Dev."> Database Driven Dev. </option>
                        </select>
                        <p class="creditValue">30</p>
                        <input class="testInput" id = testInputL5M2 type="text">
                        <input class="quizInput" id = quizInputL5M2 type="text">
                        <input class="courseworkInput" id = courseworkInputL5M2 type="text">
                    </div>
                    <div class="inRow">
                        <select class="chooseYourModule1"> 
                            <option value="To be Calculated"> Choose your Module </option>
                            <option value="Professional Enviroments 2"> Professional Enviroments 2 </option>
                            <option value="Computing Systems"> Computing Systems </option>
                            <option value="Programming 2"> Programming 2 </option>
                            <option value="Database Driven Dev."> Database Driven Dev. </option>
                        </select>
                        <p class="creditValue">30</p>
                        <input class="testInput" id = testInputL5M3 type="text">
                        <input class="quizInput" id = quizInputL5M3 type="text">
                        <input class="courseworkInput" id = courseworkInputL5M3 type="text">
                    </div>
                    <div class="inRow">
                        <select class="chooseYourModule1"> 
                            <option value="To be Calculated"> Choose your Module </option>
                            <option value="Professional Enviroments 2"> Professional Enviroments 2 </option>
                            <option value="Computing Systems"> Computing Systems </option>
                            <option value="Programming 2"> Programming 2 </option>
                            <option value="Database Driven Dev."> Database Driven Dev. </option>
                        </select>
                        <p class="creditValue">30</p>
                        <input class="testInput" id = testInputL5M4 type="text">
                        <input class="quizInput" id = quizInputL5M4 type="text">
                        <input class="courseworkInput" id = courseworkInputL5M4 type="text">
                    </div>
                </div>

                <div class="moduleClasses">
                    <p class="moduleLevel"> Level 6 </p>
                    <div class="labels">
                        <p class="creditText">Credit Value</p>
                        <p class="testText">Test</p>
                        <p class="quizText">Quiz</p>
                        <p class="courseworkText">Coursework</p>
                    </div>
                    <div class="inRow">
                        <select class="chooseYourModule1">
                            <option value="To be Calculated"> Choose your Module </option>
                            <option value="Final Year Project"> Final Year Project </option>
                            <option value="Software Development"> Software Development </option>
                            <option value="Programming 3"> Programming 3 </option>
                            <option value="Mobile Application Dev."> Mobile Application Dev. </option>
                        </select>
                        <p class="creditValue">30</p>
                        <input class="testInput" id = testInputL6M1 type="text">
                        <input class="quizInput" id = quizInputL6M1 type="text">
                        <input class="courseworkInput" id = courseworkInputL6M1 type="text">
                    </div>
                    <div class="inRow">
                        <select class="chooseYourModule1">
                            <option value="To be Calculated"> Choose your Module </option>
                            <option value="Final Year Project"> Final Year Project </option>
                            <option value="Software Development"> Software Development </option>
                            <option value="Programming 3"> Programming 3 </option>
                            <option value="Mobile Application Dev."> Mobile Application Dev. </option>
                        </select>
                        <p class="creditValue">30</p>
                        <input class="testInput" id = testInputL6M2 type="text">
                        <input class="quizInput" id = quizInputL6M2 type="text">
                        <input class="courseworkInput" id = courseworkInputL6M2 type="text">
                    </div>
                    <div class="inRow">
                        <select class="chooseYourModule1"> 
                            <option value="To be Calculated"> Choose your Module </option>
                            <option value="Final Year Project"> Final Year Project </option>
                            <option value="Software Development"> Software Development </option>
                            <option value="Programming 3"> Programming 3 </option>
                            <option value="Mobile Application Dev."> Mobile Application Dev. </option>
                        </select>
                        <p class="creditValue">30</p>
                        <input class="testInput" id = testInputL6M3 type="text">
                        <input class="quizInput" id = quizInputL6M3 type="text">
                        <input class="courseworkInput" id = courseworkInputL6M3 type="text">
                    </div>
                    <div class="inRow">
                        <select class="chooseYourModule1"> 
                            <option value="To be Calculated"> Choose your Module </option>
                            <option value="Final Year Project"> Final Year Project </option>
                            <option value="Software Development"> Software Development </option>
                            <option value="Programming 3"> Programming 3 </option>
                            <option value="Mobile Application Dev."> Mobile Application Dev. </option>
                        </select>
                        <p class="creditValue">30</p>
                        <input class="testInput" id = testInputL6M4 type="text">
                        <input class="quizInput" id = quizInputL6M4 type="text">
                        <input class="courseworkInput" id = courseworkInputL6M4 type="text">
                    </div>
                </div>

                <div id="calculateDiv">
                    <button class="calculateButton" id = "calculate" onclick="calculateGrades()"> Calculate </button>
                    <a href="analysis_view.html"><button class="calculateButton" id = "graph"> View Graphs... </button></a>
                </div>

                <div id="resultSection">
                    
                    <p> Calculation Results: </p>

                    <div>
                        <p id="result5">Level 5 out of 20% = </p>
                    </div>
                    <div>
                        <p id="result6">Level 6 out of 80% = </p>
                    </div>
                    <div>
                        <p id="displayResult"></p>
                    </div>

                    <p id = "test"></p>

                    <p id="predict"> </p>
                </div>

                <section id="bottomSection">
                    <p class="bottomText"><input type="checkbox" name="final_year_planning" id="final_year_planning"> Include final year planning</p>
                    <p class="bottomText"><input type="radio" name="class_type" value="first_class" id = "first_class" onclick="calculatePrediction();"> First class</p>
                    <p class="bottomText"><input type="radio" name="class_type" value="upper_second_class" id = "upper_second_class" onclick="calculatePrediction();"> Upper Second class</p>
                    <p class="bottomText"><input type="radio" name="class_type" value="lower_second_class" id = "lower_second_class" onclick="calculatePrediction();"> Lower Second class</p>
                    <p class="bottomText"><input type="radio" name="class_type" value="third_class" id = "third_class" onclick="calculatePrediction();"> Third class</p>
                    <p class="bottomText"><input type="radio" name="class_type" value="pass" id = "pass" onclick="calculatePrediction();"> Pass</p>             
                </section>

                <section id="arrayOfIcons">
                    <img src="css/settingsIcon.png" id="settingsIcon">
                    <img src="css/settingsWithPageIcon.png" id="settingsWithPageIcon">
                    <img src="css/shareIcon.png" id="shareIcon">
                    <img src="css/chatIcon.png" id="chatIcon">
                </section>
            </section>

            
        <!--</form>-->
    </body>
</html>