<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="css/stylesheet.css">
        <title>Grade calculation</title>
    </head>

    <body id="studentViewBody">
        
        <section id="topBar">
            <img src="css/cbrrand_logo.png" id="logoIdStudent"> 

            <div id="topBarDiv">
                <img src="css/student img.png" id="studentImg"> 
                <p id="studentTite"> Teacher </p>
            </div>

            <a href="homePage_view.html">
            <img  src="css/backbutton.png" id="backButtonImg">
            </a>
        </section>  


        <section id="listSection">
            <div id="studentListDiv">
                <p id="studentsListTitleText">List of Students:</p>

                <p> John doe </p>
                <p> Jeffery Canvas </p>
                <p> Adam Smith </p>
                <p> John Tank </p>

            </div>
                
            <div id="moduleListDiv">
                <p id="moduleListTiteText"> List of Modules available: </p>
            </div>
        </section>

        
    </body>
</html>