<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="css/stylesheet.css">
        <link rel="icon" type="image/x-icon" href="../view/css/android-chrome-192x192.png">

        <title>Grade calculation</title>
    </head>

    <body id="studentViewBody">
        
        <section id="topBar">
            <img src="css/cbrrand_logo.png" id="logoIdStudent"> 

            <div id="topBarDiv">
                <img src="css/student img.png" id="studentImg"> 
                <p id="studentTite"> Teacher </p>
            </div>

            <a href="homePage_view.html">
            <img  src="css/backbutton.png" id="backButtonImg">
            </a>
        </section>  


        <section id="listSection">
            <section id="studentListSection">

                <input type = "input" id="searchName" value = "Search by Name..." name = "Submit"><br>
                <input type = "input" id="searchKUNumb" value = "Search by KU number..." name = "Submit"><br>
                <button type = "submit" id="addStudentButton"  name = "Submit"> Add new student... </button><br>

                <div id="studentListDiv">
                    <p> Emily Johnson <br> Joshua Perez <br> Camille Martin <br> Leon Schneider <br> Nataliya Gorbachev <br> Manon Girard <br> Francesca Santoro <br> Christopher Wilson <br> Martina Ferrari <br> Sophia Schmidt <br> Charlotte Leclerc <br> Chinonye Nnamdi <br> Luca Romano <br> David Brown <br> Olumide Adekunle <br> Pavio Sidorov <br> Marie Klein <br> Daniel Rodriguez <br> Karolina Piotrowska <br> Dmytro Ivanenko </p>
                </div>
                

            </section>
                
            <section id="moduleListSection">
                <input type = "input" id="searchName" value = "Search for module..." name = "Submit"><br>
                <input type = "input" id="searchKUNumb" value = "Module code..." name = "Submit"><br>
                <button type = "submit" id="addStudentButton"  name = "Submit"> Add new module... </button><br>

                <div id="moduleListDiv">
                    <p> Module 5: </p>

                    <p> Introduction to Psychology <br>
                        Calculus for Scientists <br>
                        Introduction to Sociology <br>
                        Programming Fundamentals <br>
                        English Literature: Modernism to Postmodernism <br>
                        Microeconomics <br>
                        Statistics and Probability <br>
                    </p>

                    <p> Module 6:</p>
                    <p>
                        Advanced Topics in Psychology <br>
                        Applied Mathematics <br>
                        Criminology and Criminal Justice <br>
                        Software Engineering <br>
                        Shakespearean Studies <br>
                        Macroeconomics <br>
                        Data Analysis and Interpretation <br>
                        Climate Change and Sustainability
                    </p>

                </div>
            </div>

        </section>
    </body>
</html>