<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="css/stylesheet.css">
        <link rel="icon" type="image/x-icon" href="../view/css/android-chrome-192x192.png">
        <script src="../controller/JavaScript/PE2_calcLogic.js"></script>

        <title>Teacher</title>
    </head>

    <body id="studentViewBody">
        <noscript>JavaScript Has Been Disabled! You Must Enable JavaScript to Use This Application</noscript>  
        <section id="topBar">
            <a href="homePage_view.html">
                <img src="css/cbrrand_logo.png" id="logoIdStudent"> 
            </a>
            <div id="topBarDiv">
                <img src="css/student img.png" id="studentImg"> 
                <p id="studentTite"> Teacher </p>
            </div>

            <a href="homePage_view.html">
            <img  src="css/backbutton.png" id="backButtonImg">
            </a>
        </section>  


        <section id="listSection">
            <section id="studentListSection">
                <input type = "input" id="searchName" placeholder= "Search by Name..." name = "Submit"><br>
                <input type = "input" id="searchKUNumb" placeholder= "Search by KU number..." name = "Submit"><br>
                <button type = "submit" id="addStudentButton"  name = "Submit"> Add new student... </button><br>

                <div id="studentListDiv">
                    <p> Emily Johnson <br> Joshua Perez <br> Camille Martin <br> Leon Schneider <br> Nataliya Gorbachev <br> 
                        Manon Girard <br> Francesca Santoro <br> Christopher Wilson <br> Martina Ferrari <br> Sophia Schmidt <br> 
                        Charlotte Leclerc <br> Chinonye Nnamdi <br> Luca Romano <br> David Brown <br> Olumide Adekunle <br> Pavio Sidorov 
                        <br> Marie Klein <br> Daniel Rodriguez <br> Karolina Piotrowska <br> Dmytro Ivanenko 
                    </p>
                </div>
            </section>
                
            <section id="moduleListSection">
                <input type = "input" id="searchName" placeholder= "Search for module..." name = "Submit"><br>
                <input type = "input" id="searchKUNumb" placeholder= "Module code..." name = "Submit"><br>
                <button type = "submit" id="addStudentButton"  name = "Submit"> Add new module... </button><br>

                <div id="moduleListDiv">
                    <p class="teacherViewModuleTitle"> Module 5: </p>
                    <p> Professional Enviroments 2 <br>
                        Computing Systems <br>
                        Programming 2 <br>
                        Database Driven Dev. <br>
                    </p>
                    <p class="teacherViewModuleTitle"> Module 6:</p>
                    <p>
                        Final Year Project <br>
                        Software Development <br>
                        Programming 3 <br>
                        Mobile Application Dev. <br>
                    </p>
                </div>
            </div>
        </section>
    </body>
</html>